@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #e0d7d2;
    --secondary-color: #000000ba;
    --main-color: #e2590f;
}

* {
    margin: 0;
    padding: 0;

}

ul,
li,
p,
a {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;

}

.button,
a:hover {
    color: #000;
}

img {
    width: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

h2 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: var(--primary-color);
    font-size: 35px;
    padding-bottom: 50px;
    text-transform: capitalize;
}

a#dropbtn {
    font-size: 14px !important;
}

/* navbar styling  */

.logo img {
    max-width: 150px;
}

.navbar {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink ul {
    display: flex;
    align-items: center;
}

.navlink ul li {
    font-size: 18px;
    margin: 0 25px 0 0;

}

.navlink ul li a {
    color: var(--secondary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
}

.navlink ul li a:hover {
    color: var(--main-color);
}

.active {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color) !important;
}

.open {
    display: none;
}

.closebutton {
    display: none;
}

header {
    background: var(--primary-color);
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
    position: relative;
    z-index: 99;
}

.navlink ul li:hover ul.subnav {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 600;
    font-size: inherit !important;
    position: relative;
    display: inline-flex;
    align-items: start;
}

/* ul.subnav {
    display: block;
    position: absolute;
    top: 100%;
    width: 240px;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    transform: translateY(50px);
} */
ul.subnav {
    display: block;
    position: absolute;
    top: 100%;
    width: 240px;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    opacity: 1;
    visibility: hidden;
    transition: all 0.2s linear;
    transform: translateY(0px);
    z-index: 1;
}

.dropbtn i {
    margin-left: 8px;
    color: var(--secondary-color);
    line-height: 0.65;
}


header.sticky {
    background: var(--primary-color);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

/* navbar stylng end */
.hotel_box button a {
    color: inherit;
}

.casino_btn a {
    background: transparent;
}

a.button_main:hover {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.banner_head:after {
    content: '';
    background: url(../image/line.png);
    background-position: center;
    background-size: cover;
    width: 17%;
    height: 10%;
    position: absolute;
    top: 50%;
}

/* home page start */

.home_banner {
    height: 600px;
    background-image: url(../img/homebanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.home_banner::before {
    position: absolute;
    content: '';
    background: #000000a8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.banner_box h1 {
    font-size: 45px;
    text-transform: uppercase;
}



/* home page end */
/* casino styling start */
.casino_banner {
    height: 500px;
    background-image: url(../img/casinobanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.casino_banner::before {
    position: absolute;
    content: '';
    background: #000000a8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.casino {
    padding: 100px 0;
    text-align: center;
    background: url(../img/btique.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* casino styling end */
/* boutique section start */
.motel {
    height: 500px;
    background-image: url(../img/btique.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.motel::before {
    position: absolute;
    content: '';
    background: #000000a8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* boutique section end */
/* motel styling start */

/* motel styling start */
/*  section start */
.luxury {
    height: 500px;
    background-image: url(../img/luxarybanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.luxury::before {
    position: absolute;
    content: '';
    background: #000000a8;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* luxury section end */
/* info styling start */
.info_text p {
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-color);
}

.casino_btn {
    display: flex;
    margin-top: 30px;
}

.info_text ul li {
    list-style: disc;
    margin-left: 30px;
    color: var(--primary-color);
}

a.button_main {
    background: var(--primary-color);
    padding: 10px 40px 10px 40px;
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    font-weight: 500;
}

.info_together {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #000;
}

.info_text h2 {
    font-size: 30px;
    padding: 0;
    text-align: left;
    color: var(--primary-color);
}

.info {
    padding: 80px 0;

}

.info_text span {
    color: var(--primary-color);
}

/* .info::before {
    position: absolute;
    content: '';
    background: rgb(228 221 216 / 50%);
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0%;
} */

.info_img img {
    width: 800px;
    height: 460px;
    object-fit: cover;
}


.info .row {
    position: relative;
    gap: 30px;
}

.info_img {
    width: 30%;
}

.info_text {
    width: 70%;
}

/* info styling end */

.contact_section h3 {
    font-size: 22px;
    text-align: left;
    line-height: 30px;
    margin-top: 20px;
    padding: 0;
}

.contact_section h2 {
    font-size: 35px;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;

}

.contact_section {
    padding: 80px 0;
}

input.form-control.sub_btn {
    width: 200px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid transparent;
    transition: all 0.5s;
}

input.form-control.sub_btn:hover {
    background-color: #fff;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.row.email p a {
    color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    font-size: 15px;
    text-transform: capitalize;
}

.banner_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--main-color);
    width: 80%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
}

.contact_social {
    margin: 10px 0;
}

.contact_social ul {
    display: flex;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.right_side_first {
    padding: 30px;
}

.contact_social ul li {
    float: left;
    margin-right: 10px !important;
}

.contact_social ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    font-size: 18px;
    color: var(--primary-color);
    border-radius: 5px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary-color);
    background: var(--secondary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contact_social ul li a:hover {
    background: transparent;
    border: 1px solid #0e46a31a;
    color: var(--primary-color);
}

/* contact styling end */
/* privacy styling start */
.privacy {
    position: relative;
    height: 400px;
    background-image: url(../image/privacybanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.privacy::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

.privacy-policy {
    padding: 40px 0;
}

.privacy-policy a {
    color: #000;
    font-weight: 700;
}

.privacy__section .text_pri h1 {
    color: #fff;
    text-transform: uppercase;
}

section.privacy-policy h3 {
    margin-top: 10px;
}

/* privacy styling end */
/* terms styling start */
.terms__section {
    position: relative;
    height: 400px;
    background-image: url(../image/termsbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 0;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.terms__section::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: -1;
}

.terms_conditons {
    padding: 40px 0;
}

section.terms_conditons h3 {
    margin-top: 10px;
}

.terms_conditons a {
    color: #000;
    font-weight: 700;
}

.terms__section .banner__text h1 {
    color: #fff;
    text-transform: uppercase;
}

.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--main-color);
    width: 80%;
    transform: translate(-50%, -50%);
}

.terms_conditons ul li {
    list-style-type: disc;
    margin-left: 15px;
}

.terms_conditons ol li {
    margin-left: -9px;
    list-style-type: unset;

}

/* terms styling end */
/* footer styling */

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

.footer {
    background: var(--secondary-color);
    padding: 40px 0;
}

/*END FOOTER SOCIAL DESIGN*/
.single_footer h4 img {
    max-width: 200px;
}


.single_footer h4 {
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

/* .single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
} */

.single_footer p {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-top: 21px;
}

.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single_footer ul li {
    font-weight: 400;
    color: var(--primary-color);
    line-height: 28px;
}

.single_footer ul li a {
    color: var(--primary-color);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    font-size: 15px;
    text-transform: capitalize;
}

.single_footer ul li a:hover {
    color: var(--main-color);
}

.single_footer_address ul li {
    color: #fff;
    font-size: 15px;
}

.single_footer_address ul li span {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*START NEWSLETTER CSS*/
.Sign {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.Sign__input {
    background-color: #fff;
    border: medium none;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0 150px 0 20px;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    width: 100%;
}


.Sign__btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: var(--primary-color);
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}

.Sign__btn i {
    transition: all 0.3s ease 0s;
}


.Sign__btn:hover i {
    color: var(--secondary-color);
}


/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {
    margin-top: 10px;
}

.social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social_profile ul li {
    float: left;
}

.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0 5px 0 0;
    font-size: 18px;
    color: var(--primary-color);
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    border: 1px solid var(--primary-color);
}

.social_profile ul li a:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    border: 0px;
}

p.copyright {
    color: var(--primary-color);
}

.single_footer img {
    width: 150px;
}

/*END SOCIAL PROFILE CSS*/
.copyright a {
    color: var(--main-color);
    transition: all 0.2s ease 0s;
}

.copyright a:hover {
    color: var(--secondary-color);
}

.last ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.last ul li a {
    color: var(--primary-color);
}

.bottom_links {
    display: flex;
    border-top: 1px solid var(--primary-color);
    padding-top: 30px;
    margin-top: 30px;
}

/* footer styling end */


/* /cookie start/ */
.cookie-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    left: 0;
}

.cookie-alert .btn {
    color: #fff;
    background-color: var(--primary-color);
    border-color: #ffffff;
}

.cookie-alert .btn:hover {
    color: var(--primary-color);
    background-color: #fff;
    border-color: var(--primary-color);
}

.cookie-alert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

a.btn.btn-primary.setting-cookies {
    background: transparent;
    color: #000;
    text-decoration: underline;
    padding-bottom: 0;
    margin-right: 14px;
    border: none;
}

a.btn.btn-primary.setting-cookies:hover {
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);
}

/* 
/cookie end/ */